.coinInfo {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  border: 1px solid white;
  .column {
    border-right: 1px solid white;
    height: 100%;
    text-align: center;
    align-items: center;
    font-size: calc(10px + 1vmin);
  }
  .lastColumn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1vmin 0;
    font-size: calc(10px + 1vmin);
    word-wrap: break-word;
  }
  p {
    margin: 0;
    text-align: center;
  }
}
