.title {
  font-size: calc(20px + 1vh);
  height: 5vh;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;

  .graph {
    width: 40%;
    border: 3px solid black;
    margin-left: 3vh;
    margin-right: 3vh;
    height: 40vh;

    .button {
      margin-right: 20px;
      background-color: #282c34;
      color: white;
      border: 0;
      border-radius: 6px;
      padding: 5px;
      margin-top: 10px;
      cursor: pointer;
    }
  }
  .information {
    .paragraphs {
      font-size: calc(10px + 1vh);
      text-align: start;
      margin-right: 50px;
    }
    .buyButton {
      display: flex;
      flex-direction: row;
      background-color: black;
      color: white;
      width: 60%;
      text-align: center;
      align-items: center;
      border-radius: 20px;
      justify-content: space-evenly;

      .buyButtonBox {
        margin: 10px;
        background-color: white;
        color: black;
        border-radius: 20px;
        width: 20px;
        height: 20px;
      }
    }
  }
}
