.title {
  font-size: calc(20px + 1vh);
  height: 5vh;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;

  .graph {
    width: 40%;
    border: 3px solid black;
    margin-left: 3vh;
    margin-right: 3vh;

    .button {
      margin-right: 20px;
      background-color: #282c34;
      color: white;
      border: 0;
      border-radius: 6px;
      padding: 5px;
      margin-top: 10px;
      cursor: pointer;
    }
  }
}
