.title {
  font-size: calc(20px + 1vh);
  height: 5vh;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;

  .graph {
    width: 40%;
    border: 3px solid black;
    margin-left: 3vh;
    margin-right: 3vh;
    height: 40vh;
  }
  .information {
    .paragraphs {
      font-size: calc(10px + 1vh);
      text-align: start;
      margin-right: 50px;
    }
  }
}
