.table {
  height: 70vh;
  border-bottom: 2px solid #282c34;
  width: "100%";
  border-spacing: 0;

  .single {
    background-color: white;

    .buy {
      background-color: #282c34;
      color: white;
      margin: auto;
      border-radius: 50%;
      width: 30%;
    }
    .buy:hover {
      cursor: pointer;
    }
  }

  .single:hover {
    background-color: #282c34;
    color: white;
    .buy {
      color: #282c34;
      background-color: white;
    }
  }
}
